.App {
  font-family: sans-serif;


  /* text-align: center; */
}
#root{
  background-color: #696969;
  border-radius: 10px;
}

.footerimg{
  width: 30px;
  height: 30px;
  margin: 32px;
  margin-top:0px;
  margin-bottom: 0px;
  filter:invert(1);
}
h1{
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

form{
  font-family: 'Open Sans', sans-serif;
  padding: 5px;

}
input{
  background-color: white;
}

.form-container form{
  /* /* display:flex;
  flex-direction: column; */
}

label{
  width:150px;
}

input{
  width:200px;
  margin: 2px;
  color: rgb(123,145,86,1);
  border-radius: 5px;
  
} 

input::placeholder {
  color: gray;
}
input {
  background: #ecf0f3;
  border: none;
  padding: 10px;
  padding-left: 5px;
  height: 30px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button{
  width:100px;
  padding:2px;
  margin:5px;
  border-radius: 20px;
  background-color: rgb(123,145,86,1);
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
}
.btn{
  width:100px;
  padding:2px;
  margin:5px;
  border-radius: 20px;
  background-color: rgb(123,145,86,1);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
}
::placeholder{
  color: rgb(123,145,86,1);
}

button:hover{
  background-color: #DBDFAA;
  opacity: 3;
  font-family: 'Open Sans', sans-serif;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}
.calendarbtn{
  width:100px;
  padding:2px;
  margin:5px;
  border-radius: 20px;
  background-color: rgb(123,145,86,1);
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
}

.calendarbtn:hover{
  width:100px;
  padding:2px;
  margin:5px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
  background-color: red;
  color:white;
}
